<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.google.automation.util.GenericConfig"/>
      <class name="com.google.run.TestRun"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
